{% extends 'auth/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{{block.super}}
{% load static %}

<style>
    .border {
        border-style: solid;
        border-color: lightgray;
        border-left: none;
        border-radius: 5px;
        border-width: thin;
    }

    li {
        display: none;
    }

    #flex {
        display: flex;
    }

    .btn {
        padding: 3px 5px;
        font-size: 20px;
        border-radius: 5px;
        width: 100%;
        border-width: thin;


    }
</style>

<div class="container">
    <div class="row mx-md-n5">
        <div class="col-1"><!--extra div--></div>
        <div class="col-md-4 ml-5"><img src="{% static 'img/insta6.png'%}" alt="Image"></div>
        
        <div class="col-md-4 border mt-4 p-4 ml-5 col px-md-5">
            <form action="" method="POST">
                {% csrf_token %}

                <fieldset class="form-group">
                    <label for="" class="border-bottom mb-4 text-center" style="margin-left: 35%;margin-top: 5px;"><img
                            src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"
                            alt=""> </label> <br>
                    <h6 class="text-center">Sign up to see photos from your friends.</h6>
                    
                    {{form|crispy}}

                </fieldset>

                <div class="form-group">
                    <button class="btn btn-info" type="submit">Sign Up</button>
                </div>
                
            </form>
            <div class="border-top pt-3 text-center">
                <small class="text-muted">Have an account? <a href="{% url 'login' %}" class="ml-2">Log in</a></small>
            </div>
        </div>

        <div class="col-md-4">
            <p></p>
        </div>
    </div>
</div>

{% endblock %}